<div class="td-card-group card-group p-0 mb-4">
{{ range first 3 .heroes }}
  <div class="td-card card border me-4">
    <div class="card-header">
      <strong>{{ .title }}</strong>
    </div>
    <div class="card-body">
      {{ .description }}
      <ul class="mt-3">
        {{ range .links }}
          <li><a href="{{ .url }}">{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
</div>

<div class="td-card-group card-group p-0 mb-4">
  {{ range after 3 .heroes }}
    <div class="td-card card border me-4">
      <div class="card-header">
        <strong>{{ .title }}</strong>
      </div>
      <div class="card-body">
        {{ .description }}
        <ul class="mt-3">
          {{ range .links }}
            <li><a href="{{ .url }}">{{ .title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
  </div>
