@import '../vendor/npm/@gitlab/ui/dist/index.css';
@import '../vendor/npm/@gitlab/ui/dist/utility_classes.css';

.td-navbar .navbar-brand__name {
  border-color: rgba(255,255,255,.32);
  border-left: 1px solid #dcdcde;
  vertical-align: middle;
  padding-left: 0.25rem;
  font-weight: 400;
  font-size: 1.15rem;
}
