<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          {{ if not .IsHome}}
            <aside class="d-none d-xl-block col-xl-2 td-sidebar-toc d-print-none">
                {{ partial "page-meta-links.html" . }}
                {{ partial "toc.html" . }}
                {{ partial "taxonomy_terms_clouds.html" . }}
            </aside>
          {{ end }}
          <main class="col-12 col-md-9 col-xl-8 ps-md-5 {{ if .IsHome}}col-xl-10{{ end }}" role="main">
            {{ partial "version-banner.html" . }}
            {{ if not .IsHome}}
                {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ end }}
            {{ if .IsHome}}
              {{ range $.Site.Data.homepage }}
                {{ partial "home-hero-cards.html" . }}
              {{ end }}
            {{ end }}
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
